/*---Start CSS Reset---*/

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  font-family: "Playfair Display", serif;
  font-size: 16px;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/*---End CSS Reset---*/

:root {
  --primary-color: #f7f4eb;
  --neutral-dark: #2e0000;
  --neutral-light: #ffffff;

  --light: 400;
  --medium: 600;
  --bold: 800;
}

.wrapper {
  width: 70vw;
  max-width: 1200px;
  margin: auto;
}

.sans-serif {
  font-family: "Open Sans", sans-serif;
}

.top-bar-container {
  background-color: var(--primary-color);
}

.top-bar {
  height: 100px;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.logo {
  width: 200px;
}

.hero-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.19), rgba(0, 0, 0, 0.8)),
    url(assets/onoranze-funebri-calderone-hero-banner.jpg);
  background-size: cover;
  height: 600px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hero-content {
  width: 40%;
}

.hero-content p, h1 {
  color: var(--neutral-light);
}

h1 {
  font-size: 3rem;
  line-height: 4rem;
  padding-bottom: 1rem;
}

.hero-content p,
.hero-content em  {
  font-size: 1.25rem;
}