/*---Start CSS Reset---*/

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  font-family: "Playfair Display", serif;
  font-size: 16px;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

a {
  text-decoration: none;
}
/*---End CSS Reset---*/

:root {
  --primary-color: #f7f4eb;
  --secondary-color: #cba663;
  --neutral-dark: #2e0000;
  --neutral-light: #ffffff;
  --neutral-gray: #b4b4be;

  --light: 400;
  --medium: 600;
  --bold: 800;
}

.wrapper {
  width: 70vw;
  max-width: 1200px;
  margin: auto;
}

.sans-serif {
  font-family: "Open Sans", sans-serif;
}

.top-bar-container, footer {
  background-color: var(--primary-color);
}

.top-bar, .footer-container {
  height: 100px;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.logo {
  width: 200px;
}

.hero-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.19), rgba(0, 0, 0, 0.8)),
    url(assets/onoranze-funebri-calderone-hero-banner.jpg);
  background-size: cover;
  height: 600px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hero-content {
  width: 40%;
}

.hero-content p, h1 {
  color: var(--neutral-light);
}

h1 {
  font-size: 3rem;
  line-height: 4rem;
  padding-bottom: 1rem;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
}

hr {
  width: 80px;
  border-top: 1px solid var(--secondary-color);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  padding-bottom: 2rem;
}

.header-paragraph {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.hero-content p,
.hero-content em  {
  font-size: 1.25rem;
}

.services {
  height: 400px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.services-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;

  width: 100%;
}

.services-list > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-list > img {
  width: 300px;
  height: auto;
}

li , p {
  font-size: 1.25rem;
}

.contacts-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url(assets/onoranze-funebri-messina-1.jpg);
  background-size: cover;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts-container > .wrapper > header > h2,
.contacts-container > .wrapper > div > div > p,
.about-content > div > header > h2,
.about-content > div > p {
  color: var(--neutral-light);
}

.contacts-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 6rem;

  width: 100%;
}

.map > iframe {
  height: 300px;
  width: 400px;
  border: none;
}

/*START I NOSTRI MEZZI*/
.transportations-container {
  height: 500px;
}
/*END I NOSTRI MEZZI*/

.about-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.19), rgba(0, 0, 0, 0.8)),
    url(assets/sky-sam-schooler-unsplash.jpg);
  background-size: cover;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
}

.about-content > div {
  width: 55%;
}

.about-content > div > header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.about-content > div > header > h2 {
  text-align: left;
}

a {
  color: var(--neutral-dark);
}

.footer-container > span {
  color: var(--neutral-gray);
}
